body{
    background: #67BE4B;
}

nav ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: #333333;
	width:306px;
}

nav li {
	display:inline-block;
	width:100px;
	height:40px;
	margin:0px;
	padding:0px;
	border:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
}
nav li :hover{
	background-color:#3388BB;
}

nav li a {
	display:block;
	test-decoration:none;
	color:#FFFFFF;
}



.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

#form {
	position: absolute;
    width:50%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display: none;
}

#formodif {
	position: absolute;
    width:50%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display: none;
}

/* Full-width inputs */
input[type=text],[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #67BE4B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #67BE4B;
    border: 1px solid #67BE4B;
}

#onglets {
	font : bold 24px Batang, arial, serif;
	list-style-type : none;
	padding-bottom : 41px;
	border-bottom : 1px solid #9EA0A1;

}

#onglets li
{
    float : left;
    height : 40px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}